@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .glitch-text {
    position: relative;
  }
  
  .glitch-text::before,
  .glitch-text::after {
    content: "GAMBLING.";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
  }
  
  .glitch-text::before {
    left: 2px;
    text-shadow: -1px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }
  
  .glitch-text::after {
    left: -2px;
    text-shadow: -1px 0 #00fff9;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim2 5s infinite linear alternate-reverse;
  }
  
  @keyframes glitch-anim {
    0% { clip: rect(30px, 9999px, 10px, 0); }
    5% { clip: rect(78px, 9999px, 90px, 0); }
    10% { clip: rect(12px, 9999px, 6px, 0); }
    15% { clip: rect(55px, 9999px, 12px, 0); }
    20% { clip: rect(90px, 9999px, 100px, 0); }
    25% { clip: rect(3px, 9999px, 34px, 0); }
    30% { clip: rect(66px, 9999px, 22px, 0); }
    35% { clip: rect(10px, 9999px, 88px, 0); }
    40% { clip: rect(40px, 9999px, 12px, 0); }
    45% { clip: rect(80px, 9999px, 5px, 0); }
    50% { clip: rect(20px, 9999px, 60px, 0); }
    55% { clip: rect(50px, 9999px, 30px, 0); }
    60% { clip: rect(10px, 9999px, 90px, 0); }
    65% { clip: rect(70px, 9999px, 20px, 0); }
    70% { clip: rect(30px, 9999px, 50px, 0); }
    75% { clip: rect(90px, 9999px, 10px, 0); }
    80% { clip: rect(20px, 9999px, 60px, 0); }
    85% { clip: rect(60px, 9999px, 40px, 0); }
    90% { clip: rect(10px, 9999px, 80px, 0); }
    95% { clip: rect(50px, 9999px, 30px, 0); }
    100% { clip: rect(80px, 9999px, 10px, 0); }
  }
  
  @keyframes glitch-anim2 {
    0% { clip: rect(10px, 9999px, 80px, 0); }
    100% { clip: rect(90px, 9999px, 10px, 0); }
  }
}
